$spacing: 16px;
$border: 12px;
$font: 11px;
$lightest: #e8f4ea;
$light: #e0f0e3;
$medium: #d2e7d6;
$dark: #c8e1cc;
$darkest: #b8d8be;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  font-family: system-ui;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  padding: $spacing;
}

header {
  padding: $spacing;
}

main {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-gap: $spacing*2;

  section {
    padding: $spacing;
      background-color: $lightest;
    &:nth-child(even) {
      background-color: $light;
    }
  }
}

form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: $spacing/2;
  margin-top: $spacing/2;

  input, textarea {
    background-color: $medium;
    outline: none;
    border: none;
    border-bottom: $border solid $dark;
    text-align: center;
    justify-content: center;
  }

  textarea {
    padding-top: 1.5vw;
  }

  p {
    text-align: center;
    justify-content: center;
    background-color: $dark;
    margin-top: $spacing/2;
    font-size: $font;
    padding-top: 0.5vw;
    border: $border double $light;

  }
}

h1 {
  font-weight: bolder;
}

h2 {
  font-weight: bold;
}

h4 {
  padding: $spacing;
  background-color: $lightest;
}

#fileFetch {
  text-align: center;
  justify-content: center;
  background-color: $medium;
  margin-top: $spacing/2;
  font-size: $font;
  border: $border double $light;
  .fetched {
    columns: 150px;
  }
}

#fetchedExternal {
  text-align: center;
  justify-content: center;
  background-color: $dark;
  margin-top: $spacing/2;
  font-size: $font;

  .fetchedEx {
    text-align: left;
    justify-content: center;
    background-color: $lightest;
    padding: $spacing;
    border: $border double $medium;
    margin-bottom: $spacing/2;
  }
}

.button {
  background-color: $darkest;
  border: none;
  padding: $spacing/2 $spacing;
  width: 100%;
}

footer {
  padding: $spacing;
  text-align: center;
  font-size: $font;
  border: none;
  border-bottom: $border solid $darkest;
}
