:root {
 --forest: #2C5F2D;
 --moss: #97BC62;
 --fern: #74A234;
 --island: #2BAE66;
 --bush: #2CAE2D;
 --leaf: #6FAE2B;
 --sky: #F4FFE6;
 --cloud: #FCF6F5;
 --spacing1: 5%;
 --spacing2: 10%;
 --spacing3: 2%;
}

html {
  background-color: var(--forest);
  color: var(--cloud);
}

body {
  text-align: justify;
  font-family: "Roboto", Georgia, Times, serif;
  line-height: 1.500000000000000000001;
  font-size: 0.8rem;
  margin: 0px;
}

h1 {
  position: fixed;
  margin: 0%;
  padding: 2vh;
  z-index: 10;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  text-transform: uppercase;
  height: 1.5rem;
  background-image: linear-gradient(#2C5F2D, #2C5F2D00);
}

a {
  color: var(--cloud);
  text-decoration: none;
}

.nav li {
  display: inline-block;
  padding-right: 1.25vh;
}

.nav {
  white-space: nowrap;
  font-size: .75rem;
  font-weight: bold;
  font-style: italic;
  position: fixed;
  left: 5vw;
  top: 50vh;
  transform: rotate(270deg) translateX(-50%);
  text-transform: uppercase;
  transform-origin: left;
}

section {
  padding: var(--spacing1);
  margin: var(--spacing2);
  text-align: center;
}

footer {
  text-align: right;
  color: var(--island);
  padding: var(--spacing3);
}

#title {
   background-color: var(--burgundy);
   color: var(--midnight);
   font-size: 0.9rem;
 }

#info {
  background-color: var(--pidding);
  color: var(--pudding);
}

 .row {
   display: grid;
   grid-template-columns: 25% 50% 25%;
   grid-template-rows: max auto 50%;
   height: 100%;
 }

img {
  object-position: 50% 50%;
  object-fit: cover;
}

.sideimage {
  border-radius: 50%;
  height: 20vw;
  width: 20vw;
  align-self: center;
  justify-self: center;
}

.mainimage {
  height: 30vw;
  justify-self: center;
}

#about {
  background-color: var(--moss);
  color: var(--cloud);
}

#oh {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content auto min-content auto;
  grid-gap: var(--spacing3);
  padding: var(--spacing1)
}

#oh >h2,
#oh >p {
  grid-column: span 2;
  background-color: var(--island);
  color: var(--cloud);
  justify-self: stretch;
  padding: var(--spacing3);
  margin: 0;
}

#oh >.right {
  grid-column: 3/4;
  grid-row: 1/3;
  background-color: var(--moss);
  color: var(--cloud);
  padding: var(--spacing1);
}

#oh >.left {
  grid-column: 1/2;
  grid-row: 3/5;
  background-color: var(--moss);
  color: var(--cloud);
  padding: var(--spacing1);
}

nav {
  display: grid;
  grid-auto-flow: row;
  align-content: space-between;
  height: 100%;
  position: relative;
}

/* nav:before{
  content:'';
  background-image: url('https://ih0.redbubble.net/image.471820828.8545/flat,800x800,075,f.u3.jpg');
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: repeat-x;
  position: absolute;
} */

nav:after{
  content:'';
  background-color: #a0b0c0;
}

nav >a{
  display: inline-block;
  position: relative;
}

nav >a:nth-child(odd){
  background-color: var(--leaf);
}

nav >a:nth-child(even){
  background-color: var(--bush);
}

nav >a:hover{
  background-color: var(--cloud);
}

nav >a:visited{
  content:'';
  color: var(--forest);
}

nav >a:before{
  content:'🌿 ';
}

nav >a:after{
  content:'!';
  position: absolute;
}